@media(max-width: 1670px) {
    .hero-info {
        margin-top: 100px;
    }
    .hero-info__stroke {
        padding: 29px 0;
    }
    .hero-info__item {
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: flex-end;
        gap: 10px;
    }
    .hero-info__icon {
        flex-basis: 48px;
        width: 48px;
        height: 48px;
        border: 1px solid var(--accent);
    }
    .hero-info__icon > img {
        width: 24px;
        height: 24px;
    }
    .hero-info__text {
        flex-basis: auto;
        width: 90%;
    }
    .clients__box {
        grid-template-columns: repeat(4, 1fr);
    }
    .clients__thumb:nth-child(9),
    .clients__thumb:nth-child(10),
    .clients__thumb:nth-child(11),
    .clients__thumb:nth-child(12) {
        display: none;
    }
}
@media(max-width: 1530px) {
    .header {
        gap: clamp(20px, 4vw, 60px);
    }
}
@media(max-width: 1440px) {
    body {
        font-size: 1.6rem;
    }
    .container {
        max-width: 1280px;
        padding-left: 80px;
        padding-right: 80px;
    }
    .title-h1 {
        font-size: 5.4rem;
    }
    .title-h2 {
        font-size: 5rem;
    }
    .header__img,
    .footer-top__img {
        height: 43px;
    }
    .hero__title {
        max-width: 718px;
        padding-top: 79px;
    }
    .hero__thumb {
        height: 900px;
    }
    .hero-info {
        margin-top: 5vw;
    }
    .hero-info__item::after {
        height: 122px;
    }
    .light-gray {
        margin-top: -90px;
    }
    .services-box {
        grid-template-columns: repeat(3,1fr);
    }
    .consultation {
        padding: 50px;
    }
    .consultation__bg {
        align-items: center;
        max-width: 1060px;
        padding: 3vw 5vw;
        gap: 4vw;
    }
    .consultation__title {
        font-size: 4rem;
    }
    .consultation__text {
        font-size: 1.8rem;
    }
    .consultation__content {
        flex-basis: 340px;
    }
    .consultation__box {
        flex-basis: 28.8vw;
        padding: 2.8vw 2.8vw 2vw 2.8vw;
    }
    .advantages__box {
        grid-template-columns: calc(56% - 40px) 44%;
        grid-template-rows: 500px auto;
    }
    .advantages__card:nth-child(1) {
        grid-column: 1 / 2;
    }
    .advantages__card:nth-child(2) {
        grid-column: 2 / 3;
    }
    .advantages__card:nth-child(2) .advantages__title,
    .advantages__card:nth-child(2) .advantages__title + p {
        max-width: 370px;
    }
    .advantages__card:nth-child(3) {
        grid-column: 1 / 2;
    }
    .advantages__card:nth-child(4) {
        grid-column: 2 / 3;
    }
}
@media(max-width: 1380px) {
    .header__nav,
    .header__info {
        display: none;
    }
    .header-mobile,
    .modal-header {
        display: flex;
        gap: 32px;
    }
    .header {
        justify-content: space-between;
    }
    .hero-info {
        margin-top: 3vw;
    }
    .hero-info__item {
        padding: 0 20px;
    }
}
@media(max-width: 1200px) {
    .clients__box {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 150px);
        gap: 20px;
    }
    .clients__thumb:nth-child(7),
    .clients__thumb:nth-child(8) {
        display: none;
    }
    .gallery {
        display: none;
    }
    .footer-top {
        display: grid;
        grid-template-columns: 140px 1fr;
        align-items: end;
        padding: 30px 0;
        gap: 0;
    }
    .footer-top__logo,
    .footer-top__info {
        padding-bottom: 30px;
    }
    .footer-top__info {
        justify-content: flex-end;
    }
    .footer-top__nav {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        justify-content: flex-start;
        border-top: 1px solid #BFCEE3;
        padding-top: 30px;
    }
    .footer-bottom {
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 0;
        padding: 30px 0;
    }
    .footer-bottom__adress {
        border-top: 1px solid #BFCEE3;
        padding-top: 30px;
    }
    .footer-bottom__docs {
        padding-bottom: 30px;
    }
    .footer-bottom__adress,
    .footer-bottom__docs,
    .footer__info {
        width: 100%;
    }
}
@media(max-width: 1100px) {
    .title-h1 {
        font-size: 5rem;
    }
    .title-h2 {
        font-size: 4.8rem;
    }
    .hero__thumb {
        height: auto;
        background-image: url(../images/bg-thumb.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 54vw;
    }
    .hero__img {
        display: none;
    }
    .hero__worker {
        display: block;
        position: absolute;
        bottom: 4vw;
        left: 0;
        right: 0;
        margin: 0 auto;
        height: 50vw;
        width: auto;
    }
    .hero__title {
        max-width: 560px;
    }
    .hero__form {
        flex-direction: column;
        gap: 32px;
    }
    .hero__input,
    .hero__btn {
        flex-basis: auto;
        width: 100%;
    }
    .hero-info {
        background-color: transparent;
        margin-top: 60px;
        padding: 0;
    }
    .hero-info__stroke {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 0;
        background-image: none;
    }
    .hero-info__item {
        position: relative;
        background-color: #FFF;
        border-radius: 30px;
        padding: 28px 30px;
        gap: 16px;
        box-sizing: border-box;
    }
    .hero-info__item::before {
        content: '';
        display: block;
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='30' ry='30' stroke='%233333' stroke-width='4' stroke-dasharray='15' stroke-dashoffset='15' stroke-linecap='round'/%3e%3c/svg%3e");
        border-radius: 30px;
        width: calc(100% - 16px);
        height: calc(100% - 16px);
        left: 0;
        right: 0;
        top: 8px;
        margin: 0 auto;
        position: absolute;
    }
    .hero-info__item::after {
        display: none;
    }
    .hero-info__icon {
        flex-basis: 60px;
        width: 60px;
        height: 60px;
    }
    .hero-info__icon > img {
        width: 30px;
        height: 30px;
    }
    .consultation {
        background: none;
        padding: 0;
    }
    .consultation__bg {
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
    }
    .consultation__content,
    .consultation__box {
        flex-basis: auto;
    }
    .consultation__box {
        width: 100%;
        padding: 40px 20px;
    }
    .consultation__agree {
        display: none;
    }
    .consultation__title {
        max-width: 4.8rem;
        max-width: 360px;
    }
    .consultation__text {
        font-size: 1.6rem;
        margin-bottom: 0;
        max-width: 450px;
    }
    .services-box {
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }
    .services-box__thumb {
        height: 23vw;
    }
    .price-table__row {
        grid-template-columns: 2fr 1fr 80px;
    }
    .advantages__box {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        grid-template-areas: 'one' 'two' 'four' 'three';
    }
    .advantages__card {
        padding: 30px;
    }
    .advantages__card:nth-child(1) {
        grid-column: 1 / 2;
        grid-area: one;
    }
    .advantages__card:nth-child(2) {
        grid-column: 1 / 2;
        grid-area: two;
    }
    .advantages__card:nth-child(2) .advantages__title,
    .advantages__card:nth-child(2) .advantages__title + p,
    .advantages__card:nth-child(3) .advantages__title + p {
        max-width: 490px;
    }
    .advantages__card:nth-child(3) {
        grid-column: 1 / 2;
        grid-area: three;
    }
    .advantages__card:nth-child(4) {
        grid-column: 1 / 2;
        grid-area: four;
    }
}
@media(max-width: 768px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .modal {
        padding: 28px 20px;
    }
    .consultation {
        background-image: none;
        padding: 0;
    }
    .consultation__bg {
        padding: 40px;
    }
    .footer-top {
        padding-top: 50px;
    }
    .faq__item {
        font-size: 1.4rem;
    }
    .faq__question {
        font-size: 1.6rem;
        padding: 30px 20px;
        gap: 3rem;
    }
}
@media(max-width: 690px) {
    .title-h1 {
        font-size: 4rem;
    }
    .title-h2 {
        font-size: 3.2rem;
    }
    .page {
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .header-mobile,
    .modal-header {
        gap: 24px;
    }
    .modal {
        max-width: 100%;
        padding: 28px 15px;
    }
    .modal-menu {
        font-size: 2.4rem;
    }
    .modal-menu > a + a {
        margin-top: 24px;
    }
    .modal__btn {
        padding: 20px 30px;
    }
    .hero__title {
        max-width: 380px;
    }
    .hero__title ._desktop {
        display: none;
    }
    .hero__title ._mobile {
        display: inline-block;
    }
    .hero__thumb p {
        max-width: 300px;
    }
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .services-box {
        grid-template-columns: repeat(1,1fr);
        gap: 24px;
    }
    .services-box__thumb {
        height: 35vw;
        margin-bottom: 30px;
    }
    .services-box__title {
        min-height: auto;
    }
    .center {
        text-align: left;
    }
    .price-card {
        padding: 40px 20px;
        margin-top: 60px;
    }
    .price-card__title {
        font-size: 2.4rem;
    }
    .price-table {
        margin-top: 40px;
        font-size: 1.6rem;
    }
    .price-table__row {
        grid-template-columns: 1fr 80px;
        margin-bottom: 30px;
        gap: 0 3vw;
    }
    .price-table__row:last-child {
        margin-bottom: 0;
    }
    .price-table__item:nth-child(2) {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }
    .price-table__qt {
        font-size: 1.4rem;
    }
    .advantages__box {
        margin-top: 60px;
    }
    .advantages__card {
        padding: 20px;
    }
    .advantages__title {
        font-size: 2.4rem;
    }
    .footer {
        border-radius: 6rem 6rem 0 0;
    }
    .header__img, .footer-top__img {
        height: 47px;
    }
    .footer-top {
        grid-template-columns: 1fr;
        padding-bottom: 0;
    }
    .footer-top__logo {
        padding-bottom: 40px;
    }
    .footer-top__info {
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        border-top: 1px solid #BFCEE3;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .footer-top__nav {
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .footer-bottom__docs,
    .footer-bottom__adress {
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .footer-bottom {
        padding: 0;
    }
    .clients__box {
        grid-template-rows: repeat(3, 21vw);
        margin-top: 38px;
    }
    .clients__img {
        max-width: 25vw;
    }
}
@media(max-width: 500px) {
    .hero__form {
        gap: 24px;
        margin-top: 32px;
    }
    .hero-info__stroke {
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
    }
    .hero__thumb {
        padding-bottom: 100vw;
    }
    .hero__worker {
        height: 90vw;
        bottom: 10vw;
    }
    .consultation__title {
        font-size: 3.2rem;
    }
    .consultation__text {
        font-size: 1.4rem;
    }
    .consultation__bg {
        padding: 40px 20px;
    }
    .consultation__box {
        padding: 20px 10px;
    }
}
@media(max-width: 360px) {
    .title-h1 {
        font-size: 3.5rem;
    }
    .title-h2 {
        font-size: 3.2rem;
    }
    .header {
        padding: 20px 0;
    }
    .header__img {
        height: 34px;
    }
    .modal {
        padding: 20px 15px;
    }
}