.footer {
    background-color: var(--light);
    position: relative;
    border-radius: 10rem 10rem 0 0;
    // padding-bottom: 15.3rem;
    max-width: 1920px;
    margin: 0 auto;
    // font-size: 2rem;
    font-size: 1.6rem;

    @media (max-width: $desktop-l) {
	    // font-size: 2rem;
    }

	@media (max-width: $tablet) {
	}

	@media(max-width: $mobile-xl) {
		border-radius: 6rem 6rem 0 0;
	    padding-bottom: 0;
	}
}

.footer-top {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 50px 0;

    @media (min-width: $desktop-m + 1) {
    	padding-left: 70px;
    	padding-right: 70px;
    }

	@media (max-width: $tablet) {
		flex-wrap: wrap;
		padding-bottom: 2.5rem;
	}

	@media (max-width: $tablet) and (min-width: $mobile-xl + 1) {
		padding-top: 12rem;
	}
}

.footer-top__logo {
	display: block;
	height: 14.5rem;
	margin-right: 11.7rem;
	margin-top: 4rem;

	@media (max-width: $desktop-m) {
		margin-top: 0;
		margin-right: 6.7rem;
	}

	@media (max-width: $tablet) {
		height: 10.7rem;
		margin-bottom: 11.7rem;
		margin-right: auto;
	}

	@media (max-width: $mobile-xl) {
		margin-left: 0;
		margin-bottom: 5rem;
		height: 9.4rem;
	}
}

.footer-top__img {
	width: 100%;	
	height: 100%;	
	margin-right: auto;
}

.footer-top__nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    font-weight: 600;
    margin-right: 2rem;

	@media(max-width: $mobile-xl) {
		order: 3;
		display: flex;
		width: 100%;
		flex-wrap: wrap;
		padding-top: 4rem;
	}
}

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #BFCEE3;
    padding: 50px 0;

	@media(max-width: $mobile-xl) {
		flex-wrap: wrap;
	}
}

.footer-bottom__address {
    display: flex;
    align-items: center;
}

.footer-bottom__address span:not(:last-child) {
    margin-right: 32px;

	@media (max-width: $desktop-m) {
	    margin-right: 24px;
	}

	@media (max-width: $tablet-m) {
		margin-right: 15px;
	}

	@media (max-width: $mobile-l) {
		margin-bottom: 28px;
		line-height: 1.25;
	}
}

.footer-bottom__docs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

	@media(max-width: $mobile-xl) {
		flex-direction: column;
	    align-items: flex-start;
	}
	@media (max-width: $mobile-l) {
        padding-bottom: 22px;
	}
}

.footer-top__info {
    display: flex;
    align-items: flex-start;
	flex-direction: column;

	@media (max-width: $tablet) {
		max-width: 20rem;
	}

	@media (max-width: $mobile-l) {
		padding-bottom: 15px;
	}
}

.footer-top__info > * {
	display: block;
}


.footer-top__info .link {
	@media (max-width: $tablet-m) {
        font-size: 1.6rem;
	}

	@media (max-width: $mobile-l) {
		margin-right: 0;
		margin-bottom: 22px;
	}
}

.footer-top__info .link:not(:last-child) {
	margin-right: 32px;

	@media (max-width: $desktop-m) {
		margin-right: 24px;
	}
}

.footer-top__nav-link,
.footer-bottom__docs-link {
    transition: var(--tr);

	@media (max-width: $tablet-m) {
        font-size: 1.6rem;
	}

	@media (max-width: $mobile-l) {
		margin-bottom: 2.4rem;
		line-height: 1.25;
	}
}

.footer-bottom__docs-link {
    margin-right: 3.2rem;

	@media (max-width: $desktop-m) {
		margin-right: 2.4rem;
	}
	@media (max-width: $tablet-m) {
		margin-right: 0;
	}
}

.footer-bottom__docs-link:last-child {
	margin-right: 0;
}

.footer-top__nav-link:hover,
.footer-bottom__docs-link:hover {
	@media (any-hover:hover) {
		color: var(--accent);
	}
}

.footer-bottom__socials {
	margin-left: auto;
	--icons-size: 4rem;

	@media (max-width: $mobile-xl) {
		width: 100%;
		flex-wrap: wrap;
	}
}

.footer-bottom__socials > * {
	@media (max-width: $mobile-xl) {
		margin-bottom: 1.2rem;
	}
}

.footer__menu {
	margin-right: 8.9rem;
	max-width: 31.2rem;

	@media (max-width: $desktop-m) {
		margin-right: 6rem;
	}

	@media (max-width: $tablet) {
		margin-right: 3rem;
		max-width: 28rem;
	}

	@media (max-width: $mobile-xl) {
		margin-right: 0;
		max-width: 100%;
		// width: 100%;
		margin-bottom: 3rem;
	}
}

.footer__menu:first-of-type {
	@media (max-width: $tablet) {
	    margin-right: 0;
	    max-width: 24rem;	
	}

	@media (min-width: $mobile-xl + 1) and (max-width: $tablet) {
		margin-bottom: 3rem;
	}
}

.footer__menu:last-of-type {
	margin-left: auto;
	margin-right: 0;

	@media (max-width: $tablet) {
		margin-right: auto;
	}
}

.footer__menu-title {
	font-size: 2.2rem;
	margin-bottom: 3.8rem;
	font-style: normal;
	font-weight: 700;
	line-height: 125%; /* 27.5px */

	@media (max-width: $mobile-xl) {
		margin-bottom: 2.2rem;
	}
}

.footer__menu-item {
	font-size: 1.6rem;
	margin-bottom: 2.1rem;

	@media (max-width: $mobile-xl) {
		margin-bottom: 1.5rem;
	}
}