header {
    background-color: var(--c-surface);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
}

.header {
    display: flex;
    align-items: center;
    padding: 28px 0;
    font-size: 1.6rem;

	@media(max-width: 1380px) {
		justify-content: space-between;
	}

	@media(max-width: 360px) {
		padding: 20px 0;
	}
}

.header__logo {
	margin-right: 3.5rem;
    mix-blend-mode: multiply;

	@media (max-width: $desktop-m) {
		margin-right: 4rem;
	}

	@media (max-width: $tablet-l) {
		margin-right: 0;
	}
	@media (max-width: $mobile-l) {
		position: relative;
		z-index: 3;
	}	
}

.header__menu {
    flex-grow: 1;

    @media (max-width: $desktop-s) {
    	position: fixed;
    	width: 100%;
    	z-index: 2;
    	top: 0;
    	right: 0;
    	height: 100%;
    	display: flex;
    	justify-content: flex-end;
		background: rgba(31,31,31,0);
    	pointer-events: none;
		transition: all 0.3s ease;
    }
}

.header--opened .header__menu {
	@media (max-width: $desktop-s) {
		background: rgba(31,31,31,0.7);
	}
}

.header__menu-inner {
	@media (max-width: $desktop-s) {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background-color: var(--bg-card);
		max-width: 467px;
		width: 100%;
		height: 100%;
		padding: 223px 20px 30px 74px;
		transition: inherit;
		transform: translateX(150vw);
		pointer-events: auto;
		overflow: auto;
	}

	@media (max-width: $mobile-l) {
		padding-top: 118px;
		padding-left: 16px;
		padding-right: 16px;
	}
}

.header--opened .header__menu-inner {
	transform: translateX(0);
}

.header__nav {
	pointer-events: initial;
    display: flex;

	@media(max-width: $desktop-s) {
		// display: none;
		flex-direction: column;
		align-items: flex-start;
	}
} 

.header__nav-link {
    transition: .2s;
    margin-right: 3.2rem;
    text-transform: uppercase;

    @media (max-width: $desktop-m) {
    	margin-right: 2.7rem;
    }

    @media (max-width: $desktop-s) {
    	font-size: 4rem;
    	font-weight: 600;
    	line-height: 1.45;
    	margin-bottom: 3.2rem;
		margin-right: 0;
    }

	@media (max-width: $mobile-l) {
		font-size: 2.4rem;
		margin-bottom: 2.4rem;
	}
}

.header__nav-link.active {
	color: var(--accent);
    border-bottom: 1px solid;
}

.header__nav-link:last-child {
	// margin-right: auto;
}

.header__nav-link:hover {
	@media (any-hover:hover) {
		color: var(--accent);
	}
}


.header__button-callback {
	pointer-events: initial;
	padding-top: 3rem;
	padding-bottom: 3rem;

	@media (min-width: $desktop-s + 1) {
		display: none;
	}

	@media (max-width: $mobile-l) {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
}

.header__img {
	height: 55px;

	@media (max-width: $desktop-m) {
		height: 43px;
	}

	@media(max-width: 690px) {
		height: 47px;
	}

	@media(max-width: 360px) {
		height: 34px;
	}
}

.header__info {
    display: flex;
    align-items: center;

	@media(max-width: $laptop) {
		display: none;
	}
}

.header__info .link {
    margin-right: 3.2rem;

    @media (max-width: $desktop-m) {
    	margin-right: 2.4rem;
    }
    
	@media (max-width: $laptop) {
		margin-right: 0;
	}
}

.header__btn {
    padding-top: 19px;
    padding-bottom: 19px;
}

.header-mobile {
    display: none;
    z-index: 2;

	@media(max-width: $desktop-s) {
		display: flex;
	}
}

.header-mobile__btn {
	background-color: var(--c-surface);
}

.header--opened .header-mobile__btn {
	border-color: transparent;
}

.burger.is-active {
	--c-burger-line: var(--fg-text-on);
	background: var(--main);
}


.header__nav-dropdown {
	position: relative;
    margin-right: 3.2rem;

    @media (max-width: $desktop-m) {
    	margin-right: 2.7rem;
    }

    @media (max-width: $desktop-s) {
    	margin-bottom: 3.2rem;
		margin-right: 0;
    }

	@media (max-width: $mobile-l) {
		margin-bottom: 2.4rem;
	}
}

.header__nav-dropdown > .header__nav-link {
	margin-right: 2rem;
}

.header__nav-dropdown::after {
	content: "";
	position: absolute;
	top: 0.6rem;
	right: 0;
	display: block;
	width: 1rem;
	height: 1rem;
	transition: var(--tr);
	transform: rotate(90deg);
	background-image: url("../images/link-angle-accent.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

	@media (max-width: $desktop-s) {
		display: none;
	}
}

.header__nav-dropdown:hover::after {
	transform: rotate(-90deg);
}

.header__nav-dropdown-menu {
	@media (min-width: $desktop-s + 1) {
		padding-top: 6.1rem;
		position: absolute;
		opacity: 0;
		pointer-events: none;
		transform: translateY(2rem);
	}

}

.header__nav-dropdown-menu-inner {
	background-color: #fff;
	padding: 2.4rem 1.6rem;
	border-radius: 1rem;
	transition: var(--tr);

	@media (max-width: $desktop-s) {
		min-width: 20rem;
		padding-top: 0.8rem;
		padding-left: 2.8rem;
		background-color: transparent;
	}
}

.header__nav-dropdown-menu .header__nav-link {
	display: block;
	font-weight: 400;
	margin-right: 0;
	margin-bottom: 1em;

	@media (max-width: $desktop-s) {
		margin-bottom: 0.2em;
		font-size: 2.6rem;
		position: relative;
	}
	@media (max-width: $mobile-xl) {
		font-size: 2rem;
	}
}

.header__nav-dropdown-menu .header__nav-link::before {
	@media (max-width: $desktop-s) {
		content: "";
		display: block;
		width: 0.6rem;
		height: 0.6rem;
		border-radius: 0.6rem;
		position: absolute;
		left: -0.7em;
	    top: 0.56em;
		background: var(--accent);
	}
	@media (max-width: $mobile-xl) {
	    top: 0.55em;
	}
}

.header__nav-dropdown-menu .header__nav-link:last-child {
	margin-bottom: 0;
}

.header__nav-dropdown:hover .header__nav-dropdown-menu {
// .header__nav-link:hover + .header__nav-dropdown-menu {
	transform: translateY(0);
	opacity: 1;
	pointer-events: initial;
}

