header {
    background-color: var(--c-surface);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
}

.header {
    display: flex;
    align-items: center;
    padding: 28px 0;
    font-size: 1.6rem;

	@media(max-width: 1380px) {
		justify-content: space-between;
	}

	@media(max-width: 360px) {
		padding: 20px 0;
	}
}

.header__logo {
	margin-right: 11.5rem;

	@media (max-width: $desktop-m) {
		margin-right: 6rem;
	}

	@media (max-width: $tablet-l) {
		margin-right: 0;
	}
}

.header__menu {
    flex-grow: 1;

    @media (max-width: $laptop) {
    	position: fixed;
    	width: 100%;
    	z-index: 2;
    	top: 0;
    	right: 0;
    	height: 100%;
    	display: flex;
    	justify-content: flex-end;
		background: rgba(31,31,31,0);
    	pointer-events: none;
		transition: all 0.3s ease;
    }
}

.header--opened .header__menu {
	background: rgba(31,31,31,0.7);
}

.header__menu-inner {
	@media (max-width: $laptop) {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background-color: var(--bg-card);
		max-width: 467px;
		width: 100%;
		height: 100%;
		padding: 223px 20px 30px 74px;
		transition: inherit;
		transform: translateX(150vw);
		pointer-events: auto;
		overflow: auto;
	}

	@media (max-width: $mobile-l) {
		padding-top: 118px;
		padding-left: 16px;
		padding-right: 16px;
	}
}

.header--opened .header__menu-inner {
	transform: translateX(0);
}

.header__nav {
	pointer-events: initial;
    display: flex;

	@media(max-width: $laptop) {
		// display: none;
		flex-direction: column;
	}
} 

.header__nav-link {
    transition: .2s;
    margin-right: 3.2rem;

    @media (max-width: $desktop-m) {
    	margin-right: 2.4rem;
    }

    @media (max-width: $laptop) {
    	font-size: 4rem;
    	font-weight: 600;
    	line-height: 1.45;
    	margin-bottom: 3.2rem;
		margin-right: 0;
    }

	@media (max-width: $mobile-l) {
		font-size: 2.4rem;
		margin-bottom: 2.4rem;
	}
}

.header__nav-link.active {
	color: var(--accent);
    border-bottom: 1px solid;
}

.header__nav-link:last-child {
	margin-right: 0;
}

.header__nav-link:hover {
	@media (any-hover:hover) {
		color: var(--accent);
	}
}


.header__button-callback {
	pointer-events: initial;
	padding-top: 3rem;
	padding-bottom: 3rem;
	text-decoration: underline;

	@media (min-width: $laptop + 1) {
		display: none;
	}

	@media (max-width: $mobile-l) {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
}

.header__img {
	height: 55px;

	@media (max-width: $desktop-m) {
		height: 43px;
	}

	@media(max-width: 690px) {
		height: 47px;
	}

	@media(max-width: 360px) {
		height: 34px;
	}
}

.header__info {
    display: flex;
    align-items: center;

	@media(max-width: $laptop) {
		display: none;
	}
}

.header__info .link {
    margin-right: 3.2rem;

    @media (max-width: $desktop-m) {
    	margin-right: 2.4rem;
    }
    
	@media (max-width: $laptop) {
		margin-right: 0;
	}
}

.header__btn {
    padding-top: 19px;
    padding-bottom: 19px;
}

.header-mobile {
    display: none;
    z-index: 2;

	@media(max-width: $laptop) {
		display: flex;
	}
}

.header-mobile__btn {
	background-color: var(--c-surface);
}

.header--opened .header-mobile__btn {
	border-color: transparent;
}

.burger.is-active {
	--c-burger-line: var(--fg-text-on);
	background: var(--main);
}