.section {
  padding-top: 45px;
  padding-bottom: 45px;

  @media (max-width: $desktop-m) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @media (max-width: $mobile-xl) {
    padding-top: 25px;
    padding-bottom: 25p50x;
  }
}

.section-shifter {
  margin-top: 45px;
  margin-bottom: 45px;
  padding-top: 0;
  padding-bottom: 0;

  @media (max-width: $desktop-m) {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  @media (max-width: $laptop) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (max-width: $mobile-xl) {
    padding: 0 16px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

.section-flip {
  background-color: var(--light);
  position: relative;
  z-index: 2;
  border-radius: 10rem 10rem 0 0;
  padding-bottom: 60px;
  margin-top: -60px;

  @media (max-width: $desktop-m) {
    margin-top: -50px;
  }

  @media (max-width: $tablet-m) {
    padding-top: 0;
  }

  @media (max-width: $mobile-l) {
    border-radius: 6rem 6rem 0 0;
  }
}

.section-flip .section:first-child {
  padding-top: 70px;

  @media (max-width: $tablet-m) {
    padding-top: 50px;
  }

  @media (max-width: $mobile-l) {
    padding-top: 36px;
  }
}

.section-flip .section:last-child {
  padding-bottom: 70px;

  @media (max-width: $tablet-m) {
    padding-bottom: 40px;
  }

  @media (max-width: $mobile-l) {
    padding-bottom: 36px;
  }
}

.section-flip--light {
  background-color: var(--c-surface);
}