.section-shifter {
  margin-top: 180px;
  margin-bottom: 180px;
  @media(max-width: 690px) {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}
.light-gray {
  background-color: var(--light);
  position: relative;
  border-radius: 10rem 10rem 0 0;
  padding-top: 140px;
  max-width: 1920px;
  margin: -108px auto 0;
  @media(max-width: 1440px) {
    margin-top: -90px;
  }
}