.wysiwyg {
	color: var(--dark);

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: 600;
		margin-bottom: 0.5em;
		color: var(--dark);
	}

	h1 {
		font-size: 5rem;
	}

	h2 {
		font-size: 4.8rem;
	}

	h3 {
		font-size: 4.2rem;
	}

	h4 {
		font-size: 3.6rem;
	}

	h5 {
		margin-bottom: 3.2em;
	}

	h6 {
		margin-bottom: 2.4em;
	}


	p {
		font-size: 1.6rem;
		line-height: 1.45;
		line-height: initial;
		margin-bottom: 1.5em;
	}

	p + h1,
	p + h2,
	p + h3,
	p + h4,
	p + h5,
	p + h6 {
		margin-top: 1.5em;
	}

	> *:last-child {
		margin-bottom: 0;
	}
}