.form {
	
}
.form__fieldset {
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 1.5rem;
	margin-bottom: 3rem;
	padding: 0;
}
.form__hidden {
	display: none;
  appearance: none;
  visibility: hidden;
}

.form-vertical {
  display: grid;
  gap: 20px;
  margin-bottom: 14px;

  @media (max-width: $tablet-m) {
      gap: 22px;
      margin-bottom: 0;
  }

  @media (max-width: $mobile-l) {
      gap: 14px;
  }
}

.form__agree {
    color: var(--light-gray);
    font-size: 1.2rem;
    @media(max-width: 1100px) {
    //     display: none;
        display: block;
        text-align: center;
        width: 100%;
    }
    @media (max-width: $mobile-l) {
        font-size: 1rem;
    }
}

.form__agree>a {
    border-bottom: 1px solid var(--light-gray);
    transition: .2s;
}

.form__agree>a:hover {
    border-bottom: 1px solid transparent;
}