.review-card {

}

.reivew-card__profile {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	margin-bottom: 40px;

	@media (max-width: $desktop-m) {
		margin-bottom: 30px;
	}

	@media (max-width: $mobile-l) {
		margin-bottom: 10px;
	}
}

.review-card__profile-pic {
	--size: 68px;
	max-width: var(--size);
	min-width: var(--size);
	width: var(--size);
	height: var(--size);
	border-radius: var(--size);
	margin-right: 20px;

	@media (max-width: $mobile-l) {
		--size: 48px;
		margin-right: 16px;
	}
}

.review-card__profile-img {
	border-radius: inherit;
}

.review-card__profile-name {
	margin-bottom: 6px;
	color: #1F2B3D;
	font-size: 1.6rem;
	line-height: 1.5;
	text-shadow: 0 0 1px #1f2b3d;
	font-weight: 500;

	@media (max-width: $mobile-l) {
		font-size: 1.4rem;
	}
}

.review-card__profile-date {
	color: #8A9099;
	font-size: 1.4rem;
	line-height: 1.4;

	@media (max-width: $mobile-l) {
		font-size: 1.2rem;
	}
}

.review-card__profile-user {
	@media (max-width: $mobile-l) {
		margin-bottom: 8px;
	}
}

.review-card__profile-meta {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding-top: 9px;

	@media (max-width: $mobile-l) {
		flex-direction: column;
		padding-top: 0;
	}
}

.review-card__profile-rating {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-end;
	margin-top: auto;
}

.review-card__profile-stars {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 10px;
}

.review-card__profile-star {
	--size: 19px;
	max-width: var(--size);
	min-width: var(--size);
	width: var(--size);
	height: var(--size);
	margin-left: 6px;

	@media (max-width: $mobile-l) {
		--size: 11px;
		margin-left: 5px;
	}
}
.review-card__profile-star:first-child {
	margin-left: 0;
}

.reviews-card__profile-source {
	height: 2rem;
	@media (max-width: $mobile-l) {
		display: none;
	}
}

.review-card__title {
	margin-bottom: 20px;
	font-weight: 600;
	font-size: 2.4rem;
	line-height: 135%;
	color: var(--dark);

	@media (max-width: $mobile-l) {
		font-size: 1.8rem;
		max-width: 85%;
	}
}

.review-card__desc {
	margin-bottom: 20px;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: #202A34;

	@media (max-width: $desktop-m) {
		max-width: 90%;
	}
}

.review-card__full {
    position: relative;
    display: inline-block;
    padding-right: 3rem;
    transition: .2s;
    font-size: 1.6rem;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.review-card__full .button__text {
	border-bottom: 1px solid;
}

.review-card__full:hover {
    @media (any-hover:hover) {
        color: var(--accent);
    }
}

.review-card__full::after {
    content: '';
    position: absolute;
    right: 0;
    top: calc(50% - 12px);
    -webkit-mask-image: url(../images/arrow.svg);
    background-color: var(--dark);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    display: block;
    width: 24px;
    height: 24px;
    transform: scaleY(-1);
    transition: .2s;
}

.review-card__full:hover::after {
    transform: rotate(90deg) scaleY(-1);
    background-color: var(--accent);
}
