// .advantages {
//     padding-bottom: 100px;
// }

.advantages__box {
    display: grid;
    grid-template-columns: repeat(12, 1fr);//1fr 10vw 1fr;
    grid-auto-rows: 600px;
    gap: 40px;
    margin-top: 80px;

    @media(max-width: $desktop-m) {
        grid-template-columns: calc(60% - 40px) 40%;
        grid-auto-rows: 500px;
    }

    @media(max-width: $laptop) {
        grid-template-columns: 100%;
        grid-auto-rows: initial;
    }

    @media(max-width: $mobile-xl) {
        margin-top: 60px;
    }
}

.advantages__title {
    @media (min-width: $tablet-m + 1) {
        text-align: center;
    }
}

.advantages__title br {
    @media (min-width: $tablet-m + 1) {
        display: none;
    }
}

.advantages-card {
    border-radius: 30px;
    padding: 50px;
    box-sizing: border-box;
    background-color: #F0F2F5;
    overflow: hidden;
    position: relative;

    @media (max-width: $desktop-m) {
        padding: 30px;
    }

    @media(max-width: $mobile-xl) {
        padding: 20px;
    }

    @media (max-width: $mobile-l) {
        font-size: 1.6rem;
        padding-right: 16px;
        min-height: 400px;
    }
}

.advantages-card__pic {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60%;
    height: 100%;
    pointer-events: none;

    @media (max-width: $desktop-m) {
        width: 53%;
    }

    @media (max-width: $mobile-l) {
        width: 70%;
    }
}

.advantages-card__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: bottom right;
}

.advantages-card:nth-child(1),
.advantages-card:nth-child(4n+1),
.advantages-card:nth-child(4),
.advantages-card:nth-child(4n+4) {
    background-color: var(--accent);
    color: #FFF;
    background-image: url("../images/advantages/lines.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;

    @media (max-width: $desktop-m) {
        background-position: 2rem 6rem;
        background-size: 120%;
    }

    @media (max-width: $laptop) and (min-width: $mobile-l + 1) {
        min-height: 500px;
    }

    @media (max-width: $tablet-s) and (min-width: $mobile-l + 1) {
        background-position: bottom right;
        background-size: 84%;
    }

    @media (max-width: $mobile-l) {
        background-position: -10px 60px;
        background-size: 200%;
    }
    @media (max-width: $mobile-s) {
        background-position: -10px 110px;
    }
}

.advantages-card:nth-child(1),
.advantages-card:nth-child(4n+1) {
    grid-column: 1 / 8;

    @media(max-width: $desktop-m) {
        grid-column: 1 / 2;
    }

    @media(max-width: 1100px) {
        grid-column: initial;
    }
}

.advantages-card:nth-child(1) .advantages-card__title,
.advantages-card:nth-child(1) .advantages-card__title+p,
.advantages-card:nth-child(4n+1) .advantages-card__title,
.advantages-card:nth-child(4n+1) .advantages-card__title+p {
    max-width: 650px;

    @media(max-width: $mobile-xl) {
        max-width: 500px;
    }
}

.advantages-card:nth-child(2),
.advantages-card:nth-child(4n+2) {
    grid-column: 8 / 13;
    @media(max-width: $desktop-m) {
        grid-column: 2 / 3;
    }

    @media(max-width: 1100px) {
        grid-column: initial;
    }
}

.advantages-card:nth-child(2) .advantages-card__pic,
.advantages-card:nth-child(4n+2) .advantages-card__pic {
    width: 70%;

    @media (max-width: $desktop-m) {
        display: none;
    }
}

.advantages-card:nth-child(2) .advantages-card__title,
.advantages-card:nth-child(2) .advantages-card__title+p,
.advantages-card:nth-child(4n+2) .advantages-card__title,
.advantages-card:nth-child(4n+2) .advantages-card__title+p {
    max-width: 490px;

    @media(max-width: 1100px) {
        max-width: 490px;
    }

    @media (max-width: $mobile-l) {
        max-width: 100%;
    }
}

.advantages-card:nth-child(3),
.advantages-card:nth-child(4n+3) {
    grid-column: 1 / 6;

    @media(max-width: $desktop-m) {
        grid-column: 1 / 2;
    }

    @media(max-width: 1100px) {
        grid-column: initial;
    }
}

.advantages-card:nth-child(3) {
    @media (max-width: 1100px) {
        order: 4;
    }
}

.advantages-card:nth-child(3) .advantages-card__title + p,
.advantages-card:nth-child(4n+3) .advantages-card__title + p {
    @media (max-width: $desktop-m) {
        max-width: 510px;
    }

    @media(max-width: $laptop) {
        max-width: 490px;
    }

    @media (max-width: $mobile-l) {
        max-width: 100%;
    }
}

.advantages-card:nth-child(4),
.advantages-card:nth-child(4n+4) {
    background-size: 94%;
    grid-column: 6 / 13;

    @media (max-width: $desktop-m) {
        grid-column: 2 / 3;
        background-position: -8rem 6rem;
        background-size: 170%;
    }

    @media(max-width: $laptop) {
        grid-column: initial;
    }

    @media (max-width: $tablet) {
        background-position: center;
    }

    @media (max-width: $mobile-l) {
        background-position: -8rem 16rem;
    }
}

.advantages-card:nth-child(4) .advantages-card__title,
.advantages-card:nth-child(4) .advantages-card__title+p,
.advantages-card:nth-child(4n+4) .advantages-card__title,
.advantages-card:nth-child(4n+4) .advantages-card__title+p {
    max-width: 640px;
}

.advantages-card:nth-child(2) .advantages-card__pic,
.advantages-card:nth-child(4n+2) .advantages-card__pic {
    width: 70%;
}

.advantages-card:nth-child(4) .advantages-card__pic,
.advantages-card:nth-child(4n+4) .advantages-card__pic {
    @media (max-width: $desktop-m) {
        width: 80%;
    }

    @media (max-width: $laptop) {
        width: 65%;
    }

    @media (max-width: $mobile-s) {
        width: 65%;
    }
}

.advantages-card__title {
    font-size: 3.6rem;
    font-weight: 600;
    line-height: 1.35;
    margin: 0;
    margin-bottom: 2.4rem;

    @media(max-width: $mobile-xl) {
        font-size: 2.4rem;
        max-width: 450px;
    }

    @media (max-width: $mobile-l) {
        margin-right: 1.6rem;       
        margin-bottom: 1.4rem;
    }
}

