.contacts__gallery {
	display: grid;
	// grid-template-columns: repeat(4, 1fr);
	grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
	gap: 4rem;

	@media (max-width: $desktop-m) {
		gap: 2rem;
	}

	@media (max-width: $laptop) {
		grid-template-columns: repeat(2, 1fr);
	}
	
	@media (max-width: $mobile-xl) {
		grid-template-columns: 100%;
	}
}

.contacts-card {
	border-radius: 30px;
	padding: 3rem 2rem;
	background-color: #F0F2F5;
	text-align: center;

	@media (max-width: $tablet) {
		text-align: left;
	}
}

.contacts-card__title {
	font-weight: 600;
	font-size: 2.2rem;
	line-height: 125%;
	color: #202A34;
	margin-bottom: 2.4rem;

	@media (max-width: $desktop-m) {
		font-size: 1.8rem;
	}

	@media (max-width: $laptop) {
		font-size: 24px;
	}
}

.contacts-card__desc {
	font-size: 1.6rem;
	line-height: 125%;
	color: #202A34;
}

.contacts-card__desc--bigger {
	font-size: 3.6rem;
	font-weight: 600;
}

.contacts-card__desc a {
	transition: var(--tr-regular);
}

.contacts-card__desc a:hover {
	@media (any-hover:hover) {
		color: var(--accent);
	}
}

.contacts__map-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 4rem;
	align-items: stretch;
  background-color: var(--accent);
  border-radius: 3rem;
  padding: 6.4rem;

	@media (max-width: $laptop) {
		grid-template-columns: 100%;
	  padding: 4rem 2rem;
	  border-radius: 0;
	}

}

.contacts-card__socials {
	justify-content: center;

	@media (max-width: $mobile-xl) {
		justify-content: flex-start;
	}
}