.experience {
	background-image: url("/images/experience/experience-bg.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-color: #5486E5;
	color: #fff;
	border-radius: 100px;
	padding-top: 75px;
	overflow: hidden;
	margin-top: 180px;

	@media (max-width: $desktop-m) {
		margin-top: 210px;
		padding-top: 45px;
	}

	@media (max-width: $tablet-m) {
		margin-top: 180px;
		padding-top: 80px;
	}

	@media (max-width: $mobile-l) {
		margin-top: 100px;
		padding-top: 55px;
		border-radius: 60px;
	}
}

.experience__container {
	display: grid;
	grid-template-columns: 2fr 1fr;

	@media (max-width: $tablet-m) {
		grid-template-columns: 100%;
	}
}

.experience__content {
	max-width: 797px;
	width: 100%;
	margin-left: auto;

	@media (max-width: $desktop-m) {
		max-width: 620px;
	}
	@media (max-width: $tablet-m) {
		margin-left: unset;
		max-width: initial;
	}
}

.experience__title {
	font-size: 5.6rem;
	line-height: 1.3;
	margin-bottom: 4rem;

	@media (max-width: $desktop-m) {
		font-size: 4rem;
	}

	@media (max-width: $tablet-m) {
		font-size: 4.8rem;
		margin-bottom: 2.2rem;
	}

	@media (max-width: $mobile-l) {
		font-size: 2.7rem; //3.2 дизайнер зачем-то сокращение добавил
		margin-bottom: 2.4rem;
	}
}

.experience__gallery {
	max-width: 100%;
}


.experience__hero {
	position: relative;

	@media (max-width: $tablet-m) {
		order: 2;
	}
}

.experience__hero-pic {
	display: block;
	width: 100%;
	height: 100%;
}

.experience__hero-img {
	display: block;
	width: 100%;
	height: 100%;
}

.experience__video {
	display: grid;
	grid-template-columns: 1.3fr 1fr;
	gap: 4.1rem;
	align-items: center;
	margin-bottom: 4rem;

	@media (max-width: $tablet-m) {
		grid-template-columns: 100%;
		gap: 2.4rem;
	}
	@media (max-width: $mobile-l) {
		gap: 3.2rem;
	}
}

.experience__video-box {
	overflow: hidden;
	border-radius: 30px;
  position: relative;
  padding-top: 54.8%;

  @media (max-width: $tablet-m) {
  	order: 2;
  }
}

.experience__video-cover {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
  top: 0;
  left: 0;
}
.experience__video-desc {
	@media (max-width: $tablet-m) {
		max-width: 618px;
		font-size: 1.6rem;
	}
}


.experience__hero {
	display: flex;
}

.experience__hero-media {
	position: relative;
	margin-top: auto;
}

.experience__hero-hint {
	position: absolute;
	bottom: 41.7%;
	left: 0;
}

.experience__hero-hint-title {
	font-size: 2.4rem;
	line-height: 1.25;
	margin-bottom: 2rem;
	font-weight: 600;
}

.experience__hero-hint-desc {
	display: inline-block;
	padding: 20px 12px 20px 23px;
	margin: 0;
	border-radius: 30px;
	background: rgba(255, 255, 255, 0.1);
	box-shadow: inset 10.8333px -10.8333px 10.8333px rgba(194, 194, 194, 0.1), inset -10.8333px 10.8333px 10.8333px rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(10.8333px);
	line-height: 1.25;
}