.gallery__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;

    @media (max-width: $mobile-l) {
        margin-bottom: 60px;
    }
}

.swiper-gallery__slide {
    position: relative;
    background-color: #F0F2F5;
    border-radius: 30px;
    padding: 40px;

    @media(max-width: $desktop-m) {
        padding: 20px;
    }

    @media (max-width: $tablet-m) {
        padding-bottom: 40px;
    }
}

.swiper-gallery__thumb {
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    max-height: 345px;
    height: 18vw;
    border-radius: 30px;
    margin-bottom: 4rem;

    @media(max-width: $desktop-m) {
        margin-bottom: 3.2rem;
        height: clamp(200px, 17vw, 300px);
    }

    @media (max-width: $tablet-m) {
        height: 300px;
    }

    @media (max-width: $mobile-l) {
        height: 200px;
    }
}

.swiper-gallery__img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.swiper-gallery__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 12px;
    @media(max-width: 1440px) {
        font-size: 1.8rem;
        gap: 24px;
    }
}

.swiper-gallery__link:hover {
    @media (any-hover:hover) {
        color: var(--accent);
    }
}

.swiper-gallery__link::after {
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    -webkit-mask-image: url(../images/arrow.svg);
    background-color: var(--dark);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
    transition: .2s;

    @media(max-width: 1440px) {
        width: 24px;
        height: 24px;
    }

    @media (max-width: $mobile-l) {
        content: none;
    }
}

.swiper-gallery__link:hover::after {
    @media (any-hover:hover) {
        transform: rotate(-90deg);
        background-color: var(--accent);
    }
}

.swiper-gallery__title {
    margin-bottom: 12px;
}

.swiper-gallery__info {
    position: relative;
    display: block;
    padding-left: 32px;
    font-size: 1.6rem;
    margin-top: 23px;
}
.swiper-gallery__info + .swiper-gallery__info {
    margin-top: 16px;
}
.swiper-gallery__info::before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0;
    top: calc(50% - 12px);
}
.swiper-gallery__arg::before {
    background-image: url(../images/icons/parameter.svg);
}
.swiper-gallery__loc::before {
    background-image: url(../images/icons/location.svg);
}

.swiper-button-next,
.swiper-button-prev {
    width: 97px;
    height: 97px;
    border-radius: 100%;
    top: calc(50% - 36px);
    transition: .2s;
    transform: translateZ(0);
    background: rgba(217, 217, 217, 0.1);
    box-shadow: inset 10.7333px -10.7333px 10.7333px rgba(165, 165, 165, 0.1), inset -10.7333px 10.7333px 10.7333px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10.7333px);
    border-radius: 50%;

    @media (max-width: $mobile-xl) {
        width: 67px;
        height: 67px;
    }
}

.gallery .swiper-button-next,
.gallery .swiper-button-prev {
    @media(max-width: 1440px) {
        display: none;
    }
}

.swiper-button-next {
    right: -9px;
}

.swiper-button-prev {
    left: -9px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    content: '';
    display: block;
    width: 72px;
    height: 72px;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: 24px;
    background-color: var(--dark);
    transition: .2s;
}

.swiper-button-next::after {
    -webkit-mask-image: url(../images/arrow-next.svg);
}

.swiper-button-prev::after {
    -webkit-mask-image: url(../images/arrow-prev.svg);
}

.swiper-button-next:hover::after,
.swiper-button-prev:hover::after {
    @media (any-hover:hover) {
        background-color: #FFF;
    }
}

.swiper-button-next::before,
.swiper-button-prev::before {
    content: '';
    display: block;
    background-color: #FFF;
    border-radius: 50%;
    width: 72px;
    height: 72px;
    position: absolute;
    transition: 0.3s ease;
}

.swiper-button-next:hover::before,
.swiper-button-prev:hover::before {
    @media (any-hover:hover) {
        background-color: var(--main);
    }
}

.gallery-carousel {
    position: relative;
}

.gallery-carousel .swiper-button-next,
.gallery-carousel .swiper-button-prev {
    @media (max-width: $tablet-m) {
        display: none;
    }
}

.gallery__button-all {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    padding-top: 30px;
    padding-bottom: 30px;

    @media (min-width: $tablet + 1) {
        display: none;
    }
}

.swiper-gallery__link::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 3;
}