.hero {
    background-color: #f0f2f5;
}

.hero__thumb {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 1100px;

	@media(max-width: $desktop-m) {
		min-height: 930px;
	}

	@media(max-width: $laptop) {
		min-height: initial;
        background-image: url(../images/bg-thumb.png);
        background-repeat: no-repeat;
        background-size: cover;
        // padding-bottom: 54vw;
        padding-bottom: 12vw;
	}

	@media(max-width: $tablet-m) {
		padding-bottom: 88vw;
	}

	@media(max-width: $mobile-xl) {
		padding-bottom: 35vw;
		// padding-bottom: 100vw;
	}
}

.hero--no-bullets .hero__thumb {
	min-height: initial;
	padding-bottom: 318px;

	@media (max-width: $desktop-m) {
		padding-bottom: 180px;
	}

	@media (max-width: $tablet-l) {
		padding-bottom: 20px;
	}

	@media (max-width: $mobile-xl) {
		padding-bottom: 90px;
		// padding-bottom: 50px;
	}
}

.hero--thumb-half .hero__thumb {
	@media (max-width: $tablet) {
		padding-bottom: 0;
	}
	@media (max-width: $laptop) {
		// background-color: #fff;
		background-image: none;
	}
}

.hero--has-breadcrumbs .hero__thumb {
	@media (max-width: $tablet) {
		padding-bottom: 12rem;
	}
}


.hero__thumb p {
	@media(max-width: $mobile-l) {
		max-width: 300px;
	}
}

.hero__pic {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    // background-color: #f0f2f5;

	@media(max-width: $laptop) {
		display: none;
	}
}

.hero__img {
	width: 100%;
	height: 100%;
	display: block;
    object-fit: cover;
}

.hero--thumb-half .hero__img {
	max-width: 50%;
	min-height: inherit;
	margin-left: auto;
	// transform: translateY(-50%);
}

.hero__worker {
    display: none;

	@media(max-width: $laptop) {
		display: block;
        position: absolute;
        bottom: 4vw;
        left: 0;
        right: 0;
        margin: 0 auto;
        height: 50vw;
        width: auto;
        object-position: bottom;
	}

	// @media(max-width: $tablet) {
	// 	min-height: 800px;
	// }
	@media(max-width: $tablet-m) {
		height: 85vw;
	}

	@media(max-width: $mobile-xl) {
		height: 90vw;
        bottom: 10vw;
        // min-height: 500px;
	}
}

.hero--contacts .hero__worker {
	@media(max-width: $mobile-xl) {
		height: 450px;
		bottom: 100px;
	}
}

.hero__worker-img {
	display: block;
	width: 100%;
	height: 100%;
    object-position: bottom;
    object-fit: contain;
}

.hero--thumb-half .hero__worker {
	position: static;
	width: 100%;
	margin-top: 80px;

	@media (max-width: $mobile-xl) {
		margin-top: 60px;
	}
}
.hero--thumb-half .hero__worker-img {
	object-fit: cover;
}

.hero--no-bullets .hero__worker {
	@media (max-width: $tablet-l) {
		position: static;
	}
}

.hero__container {
    padding-top: 3rem;
    min-height: inherit;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;

	@media (max-width: $tablet-m) {
		padding-top: 1.6rem;
	}
}

.hero__title {
    padding-top: 11.5rem;
    max-width: 900px;
    margin-top: 0;
    margin-bottom: 26px;

	@media(max-width: $desktop-m) {
		max-width: 718px;
        padding-top: 79px;
	}

	@media(max-width: $laptop) {
		max-width: 560px;
	}

	@media (max-width: $tablet-m) {
		padding-top: 85px;
	}

	@media(max-width: $mobile-xl) {
		padding-top: 50px;
	}

	@media(max-width: $mobile-l) {
		max-width: 380px;
	}
}

.hero__title br {
	@media (max-width: $laptop) {
		display: none;
	}
}

.hero--no-bullets .hero__title {
	max-width: 1100px;
	margin-bottom: 16px;
	padding-top: 150px;

	@media (max-width: $desktop-m) {
		max-width: 800px;
		padding-top: 98px;
	}

	@media (max-width: $tablet-l) {
		padding-top: 92px;
	}

	@media (max-width: $mobile-xl) {
		padding-top: 50px
	}
}

.hero--has-breadcrumbs .hero__title {
    padding-top: 9.2rem;

	@media (max-width: $desktop-m) {
		padding-top: 5rem;
	}

	@media (max-width: $tablet-m) {
		padding-top: 4.6rem;
	}

	@media (max-width: $mobile-xl) {
		padding-top: 3.2rem;
	}
}

.hero__title ._desktop {
	@media(max-width: $mobile-xl) {
		display: none;
	}
}

.hero--privacy .hero__title {
	font-size: 3.6rem;
	
	@media (max-width: $mobile-xl) {
		font-size: 2.8rem;
	}
}

.hero__title ._mobile {
    display: none;
	@media(max-width: $mobile-xl) {
		display: inline-block;
	}
}

.hero__desc {
    font-size: 2rem;
    // font-size: 2.4rem;
    font-weight: 500;
    letter-spacing: .2px;
    margin-bottom: 20px;
    max-width: 700px;

    @media (max-width: $mobile-l) {
		font-size: 1.82rem;
    }
}

.hero__desc br {
	@media (max-width: $laptop) {
		display: none;
	}

}

.hero__title + p,
.hero__desc + p {
    max-width: 62rem;
	@media (max-width: $desktop-s) {
		max-width: 50rem;
	}
	@media (max-width: $mobile-l) {
		font-size: 1.6rem;
	}
}

.hero__title + p br,
.hero__desc + p br {
	@media (max-width: $tablet-m) {
		display: none;
	}
}

.hero__buttons {
    margin-top: 32px;

	@media (max-width: $tablet-m) {
		margin-top: 46px;
	}

	@media(max-width: $mobile-xl) {
        margin-top: 32px;
	}
}

.hero__form {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 32px;
    max-width: 543px;

	@media(max-width: $laptop) {
        gap: 32px;
	}

	@media (max-width: $tablet-m) {
	    max-width: 100%;
		grid-template-columns: 100%;
		margin-top: 46px;
		display: grid;
	}

	@media(max-width: $mobile-xl) {
		gap: 24px;
        margin-top: 32px;
	}
}

.hero__btn {
	display: inline-block;
    font-size: 1.6rem;
    color: #FFF;
    padding: 28px 30px;
    background-color: var(--main);
    border: none;
    border-radius: 10rem;
    transition: .2s;
    text-align: center;

	@media(max-width: $laptop) {
		display: block;
		flex-basis: auto;
        width: 100%;
	}
}

.hero__btn:hover {
    background-color: var(--main-hover);
}

.hero-info {
    background-color: #FFF;
    margin-top: auto;
    margin-bottom: 160px;
    padding: 8px;
    border-radius: 30px;
    position: relative;
    z-index: 2;

	@media(max-width: 1670px) {
		margin-top: 100px;
	}

	@media(max-width: $desktop-m) {
		margin-top: 62px;
	}

	@media(max-width: $laptop-m) {
		margin-top: 3vw;
	}

	@media(max-width: $laptop) {
		background-color: transparent;
        margin-top: 60px;
        padding: 0;
	}

	@media (max-width: $tablet) {
		margin-bottom: 0;
	}
}

.hero-info__stroke {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    padding: 42px 20px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='30' ry='30' stroke='%233333' stroke-width='4' stroke-dasharray='15' stroke-dashoffset='15' stroke-linecap='round'/%3e%3c/svg%3e");
    border-radius: 30px;
    column-gap: 20px;

	@media(max-width: 1670px) {
		padding: 29px 30px;
	}

	@media(max-width: $laptop) {
		display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 0;
        background-image: none;
	}

	@media(max-width: $mobile-xl) {
		grid-template-columns: repeat(1, 1fr);
        gap: 24px;
	}
}

.hero-info__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;

	@media(max-width: 1670px) {
		flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: flex-end;
        gap: 10px;
	}

	@media(max-width: $laptop-m) {
		padding: 0 20px;
	}

	@media(max-width: $laptop) {
		position: relative;
        background-color: #FFF;
        border-radius: 30px;
        padding: 28px 30px;
        gap: 16px;
        box-sizing: border-box;
	}

	@media (max-width: $mobile-l) {
		padding-bottom: 24px;
	}
}

.hero-info__item::after {
    content: '';
    width: 1px;
    height: 100px;
    background-color: var(--light-gray);
    position: absolute;
    top: calc(50% - 50px);
    right: 25px;

	@media(max-width: $desktop-m) {
		height: 122px;
	    right: 15px;
	}
	@media(max-width: $laptop) {
		display: none;
	}
}

.hero-info__item::before {
	@media(max-width: $laptop) {
		content: '';
        display: block;
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='30' ry='30' stroke='%233333' stroke-width='4' stroke-dasharray='15' stroke-dashoffset='15' stroke-linecap='round'/%3e%3c/svg%3e");
        border-radius: 30px;
        width: calc(100% - 16px);
        height: calc(100% - 16px);
        left: 0;
        right: 0;
        top: 8px;
        margin: 0 auto;
        position: absolute;
        pointer-events: none;
	}
}

.hero-info__item:last-child::after {
    display: none;
}

.hero-info__desc {
    flex-basis: 60%;
    margin-right: 0.6rem;

	@media(max-width: 1670px) {
		flex-basis: auto;
        width: 90%;
	}

	@media (max-width: $tablet-m) {
		width: 75%;
	}

	@media (max-width: $mobile-l) {
		width: 80%;
	}

	@media (max-width: $mobile-s) {
		width: 90%;
	}
}

.hero-info__title {
	font-size: 40px;
	font-weight: 600;
	line-height: 1.35;
	margin-bottom: 12px;

	@media (max-width: $desktop-m) {
		font-size: 24px;
		margin-bottom: 8px;
	}

	@media (max-width: $tablet-m) {
		margin-bottom: 5px;
	}
}

.hero-info__text {
    @media (max-width: $desktop-m) {
    	font-size: 1.6rem;
    }

    @media (max-width: $tablet-m) {
		line-height: 1.45;
    }
}

.hero-info__text br {
	@media (max-width: $tablet-m) {
		display: none;
	}
}

.hero-info__icon {
    --size: 100px;
    flex-basis: var(--size);
    max-width: var(--size);
    min-width: var(--size);
    width: var(--size);
    height: var(--size);
    border-radius: 100%;
    border: 2px solid var(--accent);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

	@media(max-width: 1670px) {
	    --size: 48px;
        border: 1px solid var(--accent);
	}

	@media(max-width: $laptop) {
	    --size: 60px;
	}
}

.hero-info__icon > img {
	width: 50px;
	height: 50px;
	
	@media(max-width: 1670px) {
		width: 24px;
        height: 24px;
	}
	@media(max-width: $laptop) {
		width: 30px;
        height: 30px;
	}
}

.hero--contacts {
	// min-height: 700px;
	// min-height: 870px;
}


.hero--contacts .hero__thumb {
	padding-bottom: 383px;
	
	@media (max-width: $laptop) {
		padding-bottom: 0;
	}
	@media (max-width: $tablet) {
		padding-bottom: 5rem;
	}
}

.hero--contacts .hero__title {
	padding-top: 168px;

	@media (max-width: $desktop-m) {
		padding-top: 187px;
	}

	@media (max-width: $laptop) {
		padding-top: 92px;
	}

	@media (max-width: $mobile-xl) {
		padding-top: 50px;
	}
}

.hero--contacts .hero__img {
	object-position: top;
}


.hero--thumb-half .hero__desc + p,
.hero--thumb-half .hero__title {
	// max-width: 83rem;
	max-width: 77rem;
	@media (max-width: $desktop-m) {
		max-width: 60rem;
	}
	@media (max-width: $desktop-s) {
		max-width: 50rem;
	}
}


.hero--blog-article .title-h1 {
	@media (max-width: $mobile-l) {
		font-size: 3rem;
	}
}