.requisites {

}

.requisites__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;

    @media (max-width: $mobile-l) {
        margin-bottom: 30px;
    }
}

.requisites__title {
	// margin-bottom: 60px;

	@media (min-width: $laptop + 1) {
		// text-align: center;
	}

	@media (max-width: $mobile-xl) {
		// margin-bottom: 40px;
	}
}

.requisites__content {
	display: flex;
	justify-content: space-between;
	align-items: stretch;

	@media (max-width: $tablet) {
		display: block;
	}
}

.requisites-qr {
	padding: 4rem;
	border-radius: 3rem;
	background-color: #F0F2F5;
	margin-left: 3rem;
	display: flex;
	flex-direction: column;

	@media (max-width: $laptop) {
		padding: 4rem 2rem;
	}
	@media (max-width: $tablet) {
		margin-left: 0;
	}
	
	@media (max-width: $mobile-xl) {
		display: flex;
		flex-wrap: wrap;
		padding: 2rem;
		justify-content: center;
	}
}

.requisites-qr__title {
	font-size: 3rem;
	margin-bottom: 3rem;

	@media (max-width: $mobile-xl) {
		font-size: 2rem;
		margin-bottom: 1.5rem;
	}
}

.requisites-qr__media {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 5rem;

	@media (max-width: $mobile-xl) {
		flex-direction: column;
		margin-bottom: 3rem;
	}
}

.requisites-qr__media-pic {
	display: block;
	width: 28rem;
	height: 28rem;
	margin-right: 2rem;

	@media (max-width: $desktop-l) {
		height: 20rem;
	}

	@media (max-width: $mobile-xl) {
		margin-right: 0;
		margin-bottom: 1rem;
		width: 22rem;
		height: 22rem;
	}
	@media (max-width: $mobile-l) {
		width: 100%;
		height: initial;
	}
}

.requisites-qr__media-img {
	display: block;
	width: 100%;
	height: 100%;
}

.requisites-qr__media-caption {
	max-width: 30rem;
	font-size: 1.8rem;

	@media (max-width: $desktop-m) {
		max-width: 25rem;
	}

	@media (max-width: $mobile-xl) {
		font-size: 1.5rem;
	}

	@media (max-width: $mobile-l) {
		max-width: 100%;
	}
}


.requisites-table {
	max-width: 110rem;
	width: 100%;
	padding: 40px;
	border-radius: 30px;
	background-color: #F0F2F5;

	@media (max-width: $laptop) {
		padding: 40px 20px;
	}

	@media (max-width: $tablet) {
		margin-bottom: 4rem;
	}
	
	@media (max-width: $mobile-xl) {
		display: flex;
		flex-wrap: wrap;
	}
}

.requisites-table__row {
	display: grid;
	grid-template-columns: 1fr 3fr;
	justify-content: space-between;
	padding-bottom: 40px;
	border-bottom: 1px solid #BFCEE3;
	margin-bottom: 40px;
	max-width: 100%;
	width: 100%;

	@media (max-width: $laptop) {
		// grid-template-columns: 2fr 3fr;
	}

	@media (max-width: $mobile-xl) {
		display: block;
		margin-bottom: 20px;
		padding-bottom: 20px;
	}
}

.requisites-table__row:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: none;
}

.requisites-table__row--mobile-half {
	@media (max-width: $mobile-xl) {
		max-width: 50%;
	}
}

.requisites-table__title {
	font-weight: 600;
	font-size: 1.8rem;
	line-height: 1.35;
	color: #202A34;

	@media (max-width: $laptop) {
		font-size: 1.6rem;
	}

	@media (max-width: $mobile-xl) {
		margin-bottom: 12px;
	}
}

.requisites-table__desc {
	font-size: 1.8rem;
	line-height: 1.35;
	text-align: right;
	color: #202A34;

	@media (max-width: $laptop) {
		font-size: 1.6rem;
	}
	@media (max-width: $mobile-xl) {
		text-align: left;
	}
}

.requisites__download-button {
	display: block;
	margin-top: auto;
}