.storytell {
	counter-reset: story;
}

.storytell__section {
	counter-increment: story;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 40px;
	margin-bottom: 6rem;

	@media (max-width: $laptop) {
		grid-template-columns: 100%;
		margin-bottom: 5rem;
	}

	@media (max-width: $mobile-xl) {
	}
}

.storytell__section:last-child {
	margin-bottom: 0;
}

.storytell__title {
	display: flex;
	align-items: center;

	@media (max-width: $laptop) {
		display: block;
	}
}

.storytell__title br {
	@media (max-width: $laptop) {
		display: none;
	}
}

.storytell__section:not(:only-child) .storytell__title::before {
	content: counter(story);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.8rem;
	--size: 40px;
	max-width: var(--size);
	min-width: var(--size);
	width: var(--size);
	height: var(--size);
	border-radius: var(--size);
	background-color: #f0f2f5;
	margin-right: 115px;

	@media (max-width: $laptop) {
		margin-right: 0;
		margin-bottom: 20px;
	}
}

.storytell__body {
	padding-top: 40px;
	@extend .wysiwyg;

	@media (max-width: $laptop) {
		font-size: 1.6rem;
		padding-top: 0;
	}
}

.storytell__body table {
	margin-bottom: 43px;
	font-family: var(--ff-regular);
	font-size: 1.6rem;
	
	@media (max-width: $desktop-m) {
		margin-bottom: 24px;
	}
}
.storytell__body td {
	padding-left: 8px;
	padding-right: 8px;
	border-right: 1px solid #bababa;
}
.storytell__body tr td:first-child {
	padding-left: 0;
}

.storytell__body tr td:last-child {
	border-right: none;
}

.storytell__body br {
	@media (max-width: $laptop) {
		display: none;
	}
}