@import "./b_components/preloader";
@import "./b_components/header/burger";

@import "./b_components/breadcrumbs";
@import "./b_components/chips-select";
@import "./b_components/wysiwyg";
@import "./b_components/socials";

@import "./b_components/section";
@import "./b_components/controls/buttons";
@import "./b_components/controls/link";
@import "./b_components/controls/input";


@import "./b_components/spawners/b_modal";


@import "./b_components/groupers/bayan";


@import "./alp_components/modal";
@import "./alp_components/modal-form";
@import "./alp_components/form";
@import "./alp_components/review-card";
@import "./alp_components/video";
@import "./alp_components/map";
