@import "./sections/header";
@import "./sections/footer";

@import "./alp_sections/hero";
@import "./alp_sections/faq";
@import "./alp_sections/services";
@import "./alp_sections/consultation";
@import "./alp_sections/price";
@import "./alp_sections/advantages";
@import "./alp_sections/clients";
@import "./alp_sections/gallery";
@import "./alp_sections/experience";
@import "./alp_sections/reviews";
@import "./alp_sections/locations";
@import "./alp_sections/projects";

@import "./alp_sections/storytell";
@import "./alp_sections/project-highlights";
@import "./alp_sections/requisites";
@import "./alp_sections/staff";
@import "./alp_sections/contacts";
@import "./alp_sections/blog-article";
@import "./alp_sections/error";
