/* stylelint-disable no-invalid-position-at-import-rule */
@use "sass:math";

@import "./variables/variables";
@import "./variables/colors";
@import "./mixins";
@import "./reset";

.container {
  max-width: 1820px;
  margin: 0 auto;

  @media (max-width: 1880px) {
    padding-left: 60px;
    padding-right: 60px;
    max-width: 1720px;
  }

  @media(max-width: 1700px) {
    max-width: 1480px;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  @media(max-width: $desktop-m) {
    // max-width: 1280px;
    max-width: 1310px;
  }

  @media(max-width: $laptop-m) {
    padding-left: 30px;
    padding-right: 30px;
  }
  
  @media(max-width: 768px) {
    padding-left: 20px;
    padding-right: 20px;
  }
  @media(max-width: 690px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@import "./components";

// Битриксолог говорил так подключать
// @include font('Gotham Pro', normal, 400, '/local/templates/main/resources/fonts/gothampro/gothampro');
// @include font('Gotham Pro', normal, 600, '/local/templates/main/resources/fonts/gothampro/gothampro-bold');

// На верстке
@include font('Gotham Pro', normal, 400, '../resources/fonts/gothampro/gothampro');
@include font('Gotham Pro', normal, 600, '../resources/fonts/gothampro/gothampro-bold');

:root {
  --ff-regular: 'Gotham Pro', sans-serif;
  --gap: 32px;
  @media(max-width: 1440px) {
    --gap: 24px;
  }
}

html {
  font-size: 10px;
}

body {
  font: 400 1.8rem/2rem var(--ff-regular);
  color: var(--dark);
  line-height: 1.45;
  margin: 0;
}

body._lock {
  overflow: hidden;
  touch-action: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

input,
button {
  font-family: var(--ff-regular);
}

input:focus,
button:focus {
  outline: none;
}

input::placeholder {
  color: var(--light-gray)
}

h1,
h2,
h3 {
  margin: 0;
}

.center {
  text-align: center;
}

.title-h1 {
  font-size: 7.2rem;
  font-weight: 600;
  line-height: 1.35;

  @media (max-width: $desktop-l) {
    font-size: 6.8rem;
  }
  @media (max-width: $desktop-m) {
    font-size: 5.4rem;
  }

  @media (max-width: $tablet-l) {
    font-size: 5rem;
  }

  @media (max-width: $mobile-l) {
    font-size: 3.6rem;
  }

  @media (max-width: $mobile-s) {
    font-size: 3.2rem;
  }
}

#alp .title-h1 {
  @media (max-width: $mobile-l) {
    font-size: 2.8rem;
  }
}

.title-h2 {
  font-size: 6rem;
  font-weight: 600;
  line-height: 1.35;

  @media (max-width: $desktop-m) {
    font-size: 5rem;
  }

  @media (max-width: $tablet-l) {
    font-size: 4.8rem;
  }

  @media (max-width: $mobile-xl) {
    font-size: 2.6rem;
  }
}

.title-h3 {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.25;
}

@import "./libs/swiper";
@import "./libs/fancybox";
@import "./sections";


.is-hidden {
  display: none !important; 
  visibility: hidden !important;
}

.js_counter {
  will-change: transform;
}

.button-scroll-top {
  position: fixed;
  right: 5rem;
  bottom: 3rem;
  transition: all 0.45s ease-in-out;
  transform: translateY(3rem);
  opacity: 0;
  pointer-events: none;
  --size: 9.6rem;
  max-width: var(--size);
  min-width: var(--size);
  width: var(--size);
  height: var(--size);
  background-color: rgba(84, 134, 229, 0.1);
  border-radius: 99999px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 10;
  // box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: var(--tr-regular);

  @media (max-width: $mobile-xl) {
    --size: 6rem;
    right: 1.5rem;
    bottom: 1.5rem;
  }
}
.button-scroll-top._show {
  @media (max-width: $mobile-xl) {
    opacity: 1;
  }
}

.button-scroll-top::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: block;
  width: 75%;
  height: 75%;
  background-color: var(--accent);
  border-radius:inherit;
  transition: all 0.3s ease;
}
.button-scroll-top:hover::before {
  @media (any-hover:hover) {
    background-color: #fff;
  }
}

.button-scroll-top::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: block;
  width: 30%;
  height: 30%;
  @include getmask("../images/arrow-next.svg");
  background-color: #fff;
  transition: all 0.3s ease;
  transform: rotate(-90deg);
}

.button-scroll-top:hover::after {
  @media (any-hover:hover) {
    background-color: var(--accent);
  }
}

.button-scroll-top._show {
  opacity: 0.6;
  pointer-events: initial;
  transform: translateY(0);

  @media (max-width: $mobile-xl) {
    opacity: 1;
  }
}

.font-default {
  font-family: sans-serif;
}