.btn-primary {
  font-size: 1.6rem;
  color: var(--dark);
  padding: 28px 24px;
  background-color: transparent;
  border: 1px solid #BABABA;
  border-radius: 10rem;
  transition: .2s;

  @media (max-width: $mobile-l) {
    padding: 18px 24px;
  }
}

.btn-primary:hover {
  @media (any-hover:hover) {
    color: #FFF;
    background-color: var(--accent);
    border-color: var(--accent);
  }
}

.btn-primary._desktop {
  @media(max-width: 1200px) {
    display: none;
  }
}

.btn-accent {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  color: #FFF;
  padding: 30px 0;
  background-color: var(--accent);
  border: none;
  border-radius: 10rem;
  transition: .2s;
}

.btn-accent:hover {
  @media (any-hover:hover) {
    color: #FFF;
    background-color: var(--accent-hover);
  }
}

.btn-accent._mobile {
  display: none;
  margin-top: 80px;
  text-align: center;

  @media(max-width: 1200px) {
    display: block;
  }
}

.btn-main {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  color: #FFF;
  padding: 30px 0;
  background-color: var(--main);
  border: none;
  border-radius: 10rem;
  transition: .2s;
}

.btn-main:hover {
  @media (any-hover:hover) {
    color: #FFF;
    background-color: var(--main-hover);
  }
}
