.input {
  --input-fz: 1.6rem;
  --input-fg: var(--dark);
  --input-bg: #FFF;
  --input-border: 1px solid #BABABA;
  --input-padding: 28px 24px;
  --c-invalid: #ff3b30;

  @media (max-width: $desktop-m) {
    --input-padding: 28px 30px;
  }
}

.input.is-invalid {
  --input-fg: var(--c-invalid);
  --input-border: 1px solid var(--c-invalid);
}

.input__field {
  width: 100%;
  font-size: var(--input-fz);
  color: var(--input-fg);
  padding: var(--input-padding);
  background-color: var(--input-bg);
  border: var(--input-border);
  border-radius: 2rem;
  box-sizing: border-box;
}